/* ShoppingList.css */
.shoppingList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addItem {
  margin-top: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 8px;
}
.fieldHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inlineLabel {
  margin-right: 2vw;
  padding: 1vw;
}