#navbar {
  font-size: 0;
  margin: 20px 0;
}

#navbar a {
  text-decoration: none;
  padding: 20px;
  background-color: #33CC33;
  color: #000000;
  border-right: 2px solid #000000;
  text-align: center;
  transition: all 0.3s ease;
  margin: 0 0 0 0;
  font-size: 16px;
}

#navbar a:hover {
  background-color: #CC00CC;
}

table, td, th {
  border: 2px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 4px;
}
