/* This is part of the reveal-on-scroll animation */
.hidden {
    opacity: 0;
    filter: blur(5px);
}
.show {
    filter: blur(0);
    transition: all 1s;
    opacity: 1;
}

/*@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}*/

.leftAlignment.hidden {
    left: 100%;
}

.leftAlignment.show {
    left: 0;
}

.rightAlignment.hidden {
    right: 100%;
}

.rightAlignment.show {
    right: 0;
}