
/* ShoppingListItem.module.css */
.listItem {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.trashBin {
  background-color: red;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.isFoodCheckbox {
  margin: 0;
}