.footer {
    display: flex;
    gap: 10px; /* Optional: Add gap between links if needed */
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 3vh;
    padding: 1vh 0;
    background-color: black;
}

.rightWhiteBorder {
    border-right: 2px white solid;
    padding-right: 10px; /* Optional: Add padding to separate the border from the text */
}

.reactAppVersion {
    position: fixed;
    bottom: 1.1vh;
    right: 1vh;
}
