#navbar {
    z-index: 100; /* This should ensure the navigation bar buttons are always clickable */
    padding: 1.4vh;
    text-align: right;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    overflow: hidden; /* Prevent the navigation bar from creating overflow */
}

#navbar a {
    position: relative;
    text-decoration: none;
    color: #ffffff; /* Set your desired text color */
    transition: color 0.3s ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

#navbar a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Set your desired underline thickness */
    background-color: #ffffff; /* Set your desired underline color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

#navbar a:hover::before {
    width: 100%;
}

/* This is more specific (via nesting) to allow all other navigation
buttons to have their different styles (i.e., black background color,
white text color, etc.) */
#navbar #loginBtn {
  color: black;
  background-color: white;
  margin-right: 2%;
  border-radius: 15%;
}

#navbar #loginBtn::before {
    background-color: #000000; /* Set your desired underline color */
}