.noPadding {
    padding: 0;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.innerContentArea {
    width: 90%;
}

.resetBtn {
    background-color: red;
    color: inherit; /* This makes the text color of our site more modular (e.g., dark/light mode would be easier to implement) */
    border: none;
    padding: 8px; /* Adjust padding as needed */
    border-radius: 8px;
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
}

.formContent {
    flex: 1 1;
    max-height: calc(100vh - 60px);
    overflow-y: auto;
}