#navbar {
    padding: 10px;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar a {
    border: solid 2px black;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition: 0.3s all ease;
    padding: 5px;
}

#navbar a:hover {
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    color: black;
}

/* This is more specific (via nesting) to allow all other navigation
buttons to have their different styles (i.e., black background color,
white text color, etc.) */
#navbar #loginBtn {
  color: black;
  background-color: white;
  margin-right: 2%;
}

body {
    background-color: #2e2242;
    color: white;
}