#policyFooter a {
  text-decoration: none;
  color: white;
}

#policyFooter a:hover {
  text-decoration: underline;
}

#reusabilityFeature {
  width: 80%;
  margin: 0 auto; /* Center content within its container */
}